<section class="amms-gb-spage-share-buttons">
	<div class="svg-social-buttons-container">
		<div class="svg-social-buttons-body">
			<div class="svg-single-social-button svg-share-twitter" title="Share to Twitter. Opens in a new window." onclick="socialShareManager('twitter');">
				<i class="svg-holder svg-twitter"></i>
			</div>
			<div class="svg-single-social-button svg-share-facebook" title="Share to Facebook. Opens in a new window." onclick="socialShareManager('facebook');">
				<i class="svg-holder svg-facebook"></i>
			</div>
			<div class="svg-single-social-button svg-share-reddit" title="Share to reddit. Opens in a new window." onclick="socialShareManager('reddit');">
				<i class="svg-holder svg-reddit"></i>
			</div>
			<div class="svg-single-social-button svg-share-google-plus" title="Share to Goolge+. Opens in a new window." onclick="socialShareManager('google-plus');">
				<i class="svg-holder svg-google-plus"></i>
			</div>
			<div class="svg-single-social-button svg-share-linkedin" title="Share to LinkedIn. Opens in a new window." onclick="socialShareManager('linkedin');">
				<i class="svg-holder svg-linkedin"></i>
			</div>
			<div class="svg-single-social-button svg-share-email" title="Share by e-mail. Opens in default e-mail client." onclick="socialShareManager('email');">
				<i class="svg-holder svg-email"></i>
			</div>
		</div>
	</div>
</section>
