<header class="amms-nav-header">
	<span class="amms-nav-decor"></span>
	<div class="amms-nav-title-holder">
		<a class="amms-nav-title-link" href="{{ '/' | prepend:site.url }}">
			{{ site.title }}
		</a>
	</div>
	<nav class="amms-nav-menu">
		<a class="amms-nav-menu-item" href="{{ '/blog' | prepend:site.url }}">
			Blog
		</a>
		<a class="amms-nav-menu-item" href="{{ '/contact' | prepend:site.url }}">
			Contact
		</a>
	</nav>
	<div class="amms-nav-button"></div>
</header>
<div class="amms-after-header"></div>
